@model Category 

@{
    ViewBag.PageTitle = "Category Management";
    ViewBag.CardTitle = "Create Category" ;
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<form method="post" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class ="mb-3">
        <label asp-for="Name">Category Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Create</button>
        <a class="btn btn-warning" asp-action="Index" asp-controller="Category">Back To Index</a>
  
    </div>

</form>
 @* to using client side validation *@
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}